.container {
  margin-top: 20px;

  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.watchedTitle {
  font-size: 18px;
  margin-top: 10px;
}

.watchedContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.watchedImg {
  width: 80px;
  height: 110px;
  margin-bottom: 10px;
}

.removeBtn {
  background-color: #dddddd;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  width: 60px;
  height: 30px;
}

.removeBtn:hover {
  background-color: #b1b0b0;
}
