.App {
  text-align: center;
}

.main-bg {
  height: 250px;
  background-image: url('/public/img/soho.jpg');
  background-size: cover;
  background-position: center;
}

.shop-img {
  height: 250px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.shop-name {
  font-size: 18px;
  color: rgb(61, 61, 61);
}

.shop-price {
  font-size: 14px;
  color: gray;
}